{% extends 'base.html' %} {% block content %} {# 使用length过滤器获取 movies
变量长度 #}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
	{% for movie in movies %}
	<li>
		{{ movie.title }} - {{ movie.year }}
		<span class="float-right">
			<a
				href="https://www.imdb.com/find?q={{ movie.title }}"
				target="_blank"
				title="Find this movie on IMDb"
				class="imdb"
				>IMDb</a
			>
		</span>
	</li>
	{% endfor %}
</ul>
<img
	src="{{ url_for('static', filename='images/totoro.gif') }}"
	alt="Walking Totoro"
	class="totoro"
/>
{% endblock %}
